<!DOCTYPE html>
<html>
    <head>
        <title>{{client.id}}.{{application.id}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">
    </head>
    <body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
        <script src="https://unpkg.com/@primevue/themes/umd/aura.min.js"></script>
        <h2>Bienvenue {{ user.sub }} !</h2>
        <p>Liste des tables</p>
        <div id="app">
            <template v-for="table in tables">
                <ps-button as="a"
                           :label="table.name"
                           icon="pi pi-database"
                           icon-pos="bottom"
                           :href='"select/" + table.name'
                           size="large">
                </ps-button>
            </template>
        </div>
        <a href="/">Liste des applications</a>
        <script type="module">
            const { createApp } = Vue;

            const app = createApp({
                data() {
                    return {
                        tables: [
                            {% for table in schema.Tables %}
                            {
                                name: '{{schema.Tables[table].Name}}'
                            },
                            {% endfor %}
                        ]
                    }
                }
            });
            app.use(PrimeVue.Config, {
                theme: {
                    preset: PrimeVue.Themes.Aura
                }
            });
            app.component('ps-button', PrimeVue.Button);
            app.mount('#app');
        </script>
    </body>
</html>
