<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
</head>
<body>
    <h2>Bienvenue, {{ user.sub }} !</h2>
    <p>Vous êtes authentifié avec succès.</p>
    <p>Liste des tables</p>
    <ul>
        {% for table in schema.Tables %}
        <li><a href="select/{{table}}">{{table}}</a></li>
        {% endfor %}
    </ul>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off" />
        <button>Send</button>
    </form>
    <ul id='messages'>
    </ul>
    <script>
            var ws = new WebSocket("ws://127.0.0.1:8080/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
    </script>
</body>
</html>
