<!DOCTYPE html>
<html>
<head>
    <title>Administration</title>
</head>
<body>
    <h2>Suppression d'un enregistrement de {{table.Name}}</h2>
    <form action="/delete/{{table.Name}}/{{keys}}" method="post">
        {% for field in table.Fields %}
        <label for="{{field}}">{{table.Fields[field].Name}} ({{table.Fields[field].Description}}) :</label>
        <input type="text" id="{{field}}" name="{{field}}" value="{{record[field]}}" readonly>
        {% endfor %}
        <button type="submit">Supprimer</button>
        <input type="button" value="Cancel" onclick="history.go(-1)" />
    </form>
</body>
</html>