<!DOCTYPE html>
<html>
<head>
    <title>{{client.id}}.{{application.id}}</title>
</head>
<body>
    <h2>Modification d'un enregistrement de {{table.Name}}</h2>
    <form action="/{{application.id}}/update/{{table.Name}}/{{keys}}" method="post">
        {% for field in table.Fields %}
        <label for="{{field}}">{{table.Fields[field].Name}} ({{table.Fields[field].Description}}) :</label>
        <input type="text" id="{{field}}" name="{{field}}" value="{{record[field]}}">
        {% endfor %}
        <button type="submit">Modifier</button>
        <input type="button" value="Cancel" onclick="history.go(-1)" />
    </form>
</body>
</html>